# Dependencies
node_modules/
.pnp
.pnp.js
.pnpm-store

# Next.js
.next/
out/

# Build
dist/
build/
*.tsbuildinfo

# Env
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# Prisma (local DB files)
prisma/*.db
prisma/*.db-journal

# Testing
coverage/

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.cursor
.vscode